
        #mainDiv {
            padding: 10px;
            margin: 10px;
            background-color: rgb(233, 233, 219);
        }

        #countBtn {
            padding: 10px;
            font-size: 10px;
        }
